@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Poiret+One&family=Rubik+Gemstones&family=Rubik+Iso&family=Tektur:wght@400..900&display=swap');


body {
   font-family: "Poiret One", sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    transition: 0.3s;
    font-size: 25px;
}


:root {
    --bg-color: #222;
    --text-color: white;
    --card-bg: #333;
    --primary-color: #ffcc00;
}

body.light-theme {
    --bg-color: #fff;
    --text-color: #222;
    --card-bg: #f5f5f5;
}


#theme-toggle {
    display: none;
}

.theme-switch {
    position: fixed;
    top: 10px;
    right: 20px;
    width: 40px;
    height: 20px;
    background: var(--primary-color);
    border-radius: 20px;
    cursor: pointer;
}

#theme-toggle:checked ~ body {
    --bg-color: #fff;
    --text-color: #222;
    --card-bg: #f5f5f5;
}


header {
    text-align: center;
    background: var(--primary-color);
    color: black;
    padding: 20px;
}


aside {
    width: 200px;
    float: left;
    background: #333;
    padding: 20px;
    height: 100vh;
    position: fixed;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 24px;
    display: block;
    padding: 10px;
    transition: 0.3s;
}

nav ul li a:hover {
    background: #444;
    border-radius: 5px;
}


main {
    margin-left: 220px;
    padding: 20px;
}


.joke-card {
    background: var(--card-bg);
    padding: 15px;
    margin: 10px 0;
    border-left: 5px solid var(--primary-color);
    border-radius: 8px;
    font-size: 18px;
    transition: 0.3s;
}

.joke-card:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(255, 204, 0, 0.5);
}


footer {
    text-align: center;
    padding: 20px;
    background: var(--primary-color);
    color: black;
}

footer a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}
